.profile-page{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#f1f5f9;
}

.profile-container{
  width:400px;
  background:white;
  padding:40px;
  border-radius:18px;
  text-align:center;
  box-shadow:0 4px 20px rgba(0,0,0,0.1);
}

.profile-container img{
  width:120px;
  margin-bottom:20px;
}

.profile-container h1{
  margin-bottom:10px;
}

.profile-container h3{
  color:gray;
  margin-bottom:25px;
}

.profile-box{
  background:#f8fafc;
  padding:20px;
  border-radius:12px;
  text-align:left;
}

.profile-box p{
  margin:10px 0;
}