* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.upload-page {

  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    #0f172a,
    #111827,
    #1e293b
  );
  padding: 40px;
}


.upload-container {
  width: 100%;
  min-height: 85vh;
  background: rgba(255,255,255,0.08);
  border-radius: 25px;
  display: flex;
  overflow: hidden;
  backdrop-filter: blur(18px);
  border: 1px solid rgba(255,255,255,0.1);
  box-shadow: 0 10px 35px rgba(0,0,0,0.2);
}
/* LEFT */
.upload-left {
  
  flex: 1;
  background: linear-gradient(
    135deg,
    #111827,
    #1e293b,
    #334155
  );
  color: white;
  padding: 70px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.upload-left h1 {
  font-size: 42px;
  margin-bottom: 25px;
}

.upload-left p {
  line-height: 1.8;
  font-size: 18px;
  opacity: 0.95;
}

.upload-features {
  margin-top: 40px;
}

.feature-box {
  display: flex;
  align-items: center;
  gap: 15px;
  background: rgba(255,255,255,0.15);
  padding: 18px;
  border-radius: 15px;
  margin-bottom: 18px;
  backdrop-filter: blur(5px);
}

.feature-box span {
  font-size: 24px;
}

/* RIGHT */
.upload-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.upload-card {
  width: 100%;
  max-width: 450px;
}

.upload-card h2 {
  font-size: 36px;
  color: #0f172a;
  margin-bottom: 10px;
}

.subtitle {
  color: gray;
  margin-bottom: 35px;
}

/* FILE BOX */
.file-upload-box {
  width: 100%;
  border: 2px dashed #2563eb;
  border-radius: 20px;
  padding: 40px;
  text-align: center;
  background: #f8fafc;
  margin-bottom: 25px;
  transition: 0.3s;
}

.file-upload-box:hover {
  background: #eff6ff;
}

.file-upload-box input {
  width: 100%;
  cursor: pointer;
}

/* FILE INFO */
.file-info {
  background: #eff6ff;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 25px;
}

.file-info p {
  color: gray;
  margin-bottom: 5px;
}

.file-info h4 {
  color: #2563eb;
}

/* BUTTON */
.upload-card button {
  width: 100%;
  padding: 16px;
  background: linear-gradient(
    135deg,
    #2563eb,
    #1e40af
  );
  color: white;
  border: none;
  border-radius: 14px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 10px 20px rgba(37,99,235,0.25);
}

.upload-card button:hover {
  transform: translateY(-4px);
  box-shadow: 0 15px 30px rgba(37,99,235,0.35);
}

.upload-card button:hover {
  background: #1d4ed8;
  transform: translateY(-3px);
}

/* MESSAGE */
.message-box {
  margin-top: 25px;
  background: #dcfce7;
  color: #166534;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  font-weight: 600;
}

/* MOBILE */
@media (max-width: 900px) {

  .upload-container {
    flex-direction: column;
  }

  .upload-left {
    padding: 40px;
  }

  .upload-left h1 {
    font-size: 32px;
  }
}